<script>
import ResizeObserver from "resize-observer-polyfill";
import { debounceByAnimationFrame } from "../utils";

export default {
  mounted() {
    const debouncedHandeResize = debounceByAnimationFrame(this.handleResize);
    const resizeObserverInstance = new ResizeObserver(debouncedHandeResize);

    resizeObserverInstance.observe(this.$refs.resizeObserverWrapper);

    this.resizeObserverInstance = resizeObserverInstance;
  },
  destroyed() {
    this.resizeObserverInstance.disconnect();
  },
  methods: {
    handleResize(eventEntries) {
      // entries contains an array of event-data points,
      // but since we know that we only bound one DOM-element we can safely grab the first one
      const [wrapperEntry] = eventEntries;
      this.$emit("resize", wrapperEntry);
    }
  }
};
</script>

<template>
  <div ref="resizeObserverWrapper">
    <slot></slot>
  </div>
</template>
