<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />

    <resize-observer @resize="handleResize" class="test-wrapper">
      <div class="test-content">
        <p>{{ width }}: wide</p>
        <p>{{ height }}: high</p>
      </div>
    </resize-observer>
  </div>
</template>

<script>
import ResizeObserver from "./components/ResizeObserver.vue";

export default {
  name: "app",
  data() {
    return {
      width: 0,
      height: 0
    };
  },
  components: {
    ResizeObserver
  },
  methods: {
    handleResize({ contentRect }) {
      this.width = contentRect.width;
      this.height = contentRect.height;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.test-content {
  min-height: 400px;
  background: pink;
}
</style>
